<div class="employee-form">

  <h3>Atualizar cadastro de Funcionário</h3>
  <% unless flash[:alert].empty? %>
    <div class="deep-orange-text text-darken-3 deep-orange lighten-4 warning"><%= flash[:alert] %></div>
  <% end %>

  <%= form_for @employee do |form| %>
    <div class="row customer-form__row customer-form__row--radio">
      <div class="col s12 l6 p0">
        <span class="customer-form__label--radio">Status:</span>
        <label for="employee_status_active">
          <input name="employee[status]" type="radio" id="employee_status_active" value="active" <%= @employee.status == 'active' ? 'checked' : '' %> />
          <span>Ativo</span>
        </label>
        <label for="employee_status_vacation">
          <input name="employee[status]" type="radio" id="employee_status_vacation" value="vacation" <%= @employee.status == 'vacation' ? 'checked' : '' %> />
          <span>Férias</span>
        </label>
        <label for="employee_status_deactivated">
          <input name="employee[status]" type="radio" id="employee_status_deactivated" value="deactivated" <%= @employee.status == 'deactivated' ? 'checked' : '' %> />
          <span>Desativado</span>
        </label>
      </div>
    </div>

    <div class="row employee-form__row">
      <p class="input-field">
      <%= form.text_field :name, placeholder: "Nome" %>
      <%= form.label :name, "Nome" %>
      </p>
    </div>

    <div class="row employee-form__row">
      <p class="input-field">
      <%= form.text_field :phone, placeholder: "Telefone", data: {mask: '(99) 99999-9999'} %>
      <%= form.label :phone, "Telefone" %>
      </p>
    </div>

    <div class="row employee-form__row">
      <p class="input-field">
      <%= form.text_field :email, placeholder: "Email" %>
      <%= form.label :email, "Email" %>
      </p>
    </div>

    <div class="row employee-form__row">
      <p class="input-field">
      <%= form.text_field :birthdate, placeholder: "Data de Nascimento", class: "datepicker", value: @employee.birthdate.strftime('%m/%d/%Y') %>
      <%= form.label :birthdate, "Data de Nascimento" %>
      </p>
    </div>

    <div class="row employee-form__row">
      <div class="input-field">
        <%= form.text_area :address, class: 'materialize-textarea' %>
        <%= form.label :address, 'Endereço' %>
      </div>
    </div>

    <div class="center-align">
      <%= form.submit 'Salvar', class: 'red lighten-1 btn-large' %>
    </div>
  <% end %>
</div>


<script>
$(document).ready(function() {
  $(".datepicker").datepicker({
    i18n: {
      months: [
        "Janeiro",
        "Fevereiro",
        "Março",
        "Abril",
        "Maio",
        "Junho",
        "Julho",
        "Agosto",
        "Setembro",
        "Outubro",
        "Novembro",
        "Dezembro"
      ],
      monthsShort: [
        "Jan",
        "Fev",
        "Mar",
        "Abr",
        "Mai",
        "Jun",
        "Jul",
        "Ago",
        "Set",
        "Out",
        "Nov",
        "Dez"
      ],
      weekdays: [
        "Domingo",
        "Segunda",
        "Terça",
        "Quarta",
        "Quinta",
        "Sexta",
        "Sabádo"
      ],
      weekdaysShort: ["Dom", "Seg", "Ter", "Qua", "Qui", "Sex", "Sab"],
      weekdaysAbbrev: ["D", "S", "T", "Q", "Q", "S", "S"],
      today: "Hoje",
      clear: "Limpar",
      cancel: "Sair",
      done: "Confirmar",
      labelMonthNext: "Próximo mês",
      labelMonthPrev: "Mês anterior",
      labelMonthSelect: "Selecione um mês",
      labelYearSelect: "Selecione um ano",
      selectMonths: true,
      selectYears: 15
    },
    format: "dd/mm/yyyy",
    container: "body",
    minDate: new Date('01/01/1900'),
    yearRange: [1900, (new Date).getFullYear()]
  });
})

</script>
