<% if flash[:alert] %>
    <%= flash[:alert] %>
<% end %>
<%= form_for @pet do |form| %>
  <p>
    <%= form.label :name , 'Nome' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <strong>Espécie</strong>
    <label for="pet_species_cat">
      <input name="pet[species]" type="radio" id="pet_species_cat" value="cat" />
      <span>Gato</span>
    </label>
    <label for="pet_species_male">
      <input name="pet[species]" type="radio" id="pet_species_male" value="dog" />
      <span>Cachorro</span>
    </label>
  </p>

  <p>
    <strong>Sexo</strong>
    <label for="pet_sex_female">
      <input name="pet[sex]" type="radio" id="pet_sex_female" value="female" />
      <span>Fêmea</span>
    </label>
    <label for="pet_sex_male">
      <input name="pet[sex]" type="radio" id="pet_sex_male" value="male" />
      <span>Macho</span>
    </label>
  </p>

  <p>
    <%= form.label :breed, 'Raça' %><br>
    <%= form.text_field :breed %>
  </p>

  <p>
    <%= form.label :color, 'Cor' %><br>
    <%= form.text_field :color %>
  </p>

  <p>
    <%= form.label :image, 'Foto'%>
    <%= form.text_field :image %>
  </p>

  <p>
    <%= form.label :details, 'Detalhes' %><br>
    <%= form.text_area :details %>
  </p>

  <p>
    <%= form.label :city, 'Cidade' %><br>
    <%= form.text_field :city %>
  </p>

  <p>
    <%= form.label :state, 'Estado' %><br>
    <%= form.text_field :state %>
  </p>

  <%= form.hidden_field :status, value: params[:status] %>

  <%= form.submit 'Enviar' %>
<% end %>
