<div class="section no-pad-bot" id="index-banner">
  <div>
    <h1 class="header center orange-text">PetFinder</h1>
    <div class="row center">
      <h5 class="header col s12 light">Feito para ajudar pets e donos a se encontrarem!</h5>
    </div>
    <div class="row center">
    <div class="col s12 m6">
      <a href="<%= new_pet_path(status: 'lost') %>" class="home_button_find pet">
      <%= image_tag("cat_01.jpg", :alt => "Estou procurando meu pet") %>
      <span>
        Estou procurando meu pet
      </span>
      </a>
    </div>
    <div class="col s12 m6">
      <a href="<%= new_pet_path(status: 'found') %>" class="home_button_find owner">
        <%= image_tag("dog_01.jpg", :alt => "Estou procurando um dono de um pet") %>
        <span>
          Estou procurando um dono de um pet
        </span>
      </a>
    </div>
    </div>
    <br><br>
  </div>
</div>
<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">search</i>Buscar por um pet</div>
    <div class="collapsible-body">
      <%= render 'search' %>
    </div>
  </li>
</ul> 
<div class="row" id="pet-list">
  <% @pets.each do |pet| %>
    <div class="col s12 m4 pet-item">
      <div class="collection card white">
        <div class="card-content collection-item avatar">
          <%= image_tag(pet.image, class: 'circle') %>
          <span class="card-title pink-text text-accent-3"><%= link_to pet.name, pet %></span>
          <p><i><%= pet.species %></i>, <%= pet.sex %>, <%= pet.breed %></p>
          <p><b><%= pet.city %></b>, <%= pet.state %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>