<div class="pet-form">
  <h3>Cadastrar pet <%= params[:status] == 'lost' ? 'perdido' : 'Procurando dono' %></h3>
  <% unless flash[:alert].empty? %>
    <div class="deep-orange-text text-darken-3 deep-orange lighten-4 warning"><%= flash[:alert] %></div>
  <% end %>
  <%= form_for @pet do |form| %>
    <div class="row pet-form__row pet-form__row--radio">
      <div class="col s12 l6 p0">
        <span class="pet-form__label--radio">Espécie:</span>
        <label for="pet_species_cat">
          <input name="pet[species]" type="radio" id="pet_species_cat" value="cat" />
          <span>Gato</span>
        </label>
        <label for="pet_species_dog">
          <input name="pet[species]" type="radio" id="pet_species_dog" value="dog" />
          <span>Cachorro</span>
        </label>
      </div>

      <div class="col s12 l6 p0 a-right">
        <span class="pet-form__label--radio">Sexo:</span>
        <label for="pet_sex_female">
          <input name="pet[sex]" type="radio" id="pet_sex_female" value="female"  />
          <span>Fêmea</span>
        </label>
        <label for="pet_sex_male">
          <input name="pet[sex]" type="radio" id="pet_sex_male" value="male" />
          <span>Macho</span>
        </label>
      </div>
    </div>

    <div class="row pet-form__row">
      <p class="input-field">
        <%= form.text_field :name, placeholder: "#{ params[:status] == 'found' ? 'Este será o título do seu anúncio na plataforma' : 'Nome do seu pet - este será o título do seu anúncio' }" %>
        <%= form.label :name , "#{ params[:status] == 'found' ? 'Título' : 'Nome' }" %>
      </p>
    </div>

    <div class="row pet-form__row">
      <p class="input-field">
        <%= form.text_field :breed, class: 'breed', placeholder: 'Ex.: Sem Raça Definida (SRD)' %>
        <%= form.label :breed, 'Raça' %><br>
      </p>
    </div>

    <div class="row pet-form__row">
      <p class="input-field">
        <%= form.text_field :color, class: 'color', placeholder: 'Ex.: branco, cinza, branco e preto...' %>
        <%= form.label :color, 'Cor do pêlo' %>
      </p>
    </div>

    <div class="row pet-form__row">
      <div class="file-field input-field">
        <div class="btn indigo lighten-1">
          <i class="large material-icons">add_a_photo</i>
          <%= form.file_field :image %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

    <div class="row pet-form__row">
      <div class="input-field">
        <%= form.text_area :details, class: 'materialize-textarea', placeholder: 'Descreva aqui os detalhes que possam ajudar na identificação!' %>
        <%= form.label :details, 'Detalhes' %>
      </div>
      <caption>Procure citar características físicas do pet, acessórios, porte, locais de referência.</caption>
    </div>

    <div class="row pet-form__row">
      <p class="input-field">
        <%= form.text_field :city, class: 'city', placeholder: 'ex.: São Paulo, Curitiba, Brasília' %>
        <%= form.label :city, 'Cidade' %>
      </p>
    </div>

    <div class="row pet-form__row">
      <p class="input-field">
        <%= form.text_field :state, class: 'state', placeholder: 'ex.: São Paulo, Paraná, Distrito Federal' %>
        <%= form.label :state, 'Estado' %>
      </p>
    </div>

    <%= form.hidden_field :status, value: params[:status] || @pet.status %>

    <div class="center-align">
      <a class="indigo btn-large center" onClick="finished()">
        Salvar
      </a>
    </div>
    <div id="search-results" class="pet-form__search-results d-none">
      <h6>Encontramos estes pets similares, algum deles é o seu?</h6>
      <div id="pet-list" class="row pet-form__row"></div>
    </div>

    <%= form.submit 'Não é um destes pets, avançar e registrar como novo pet', class: 'd-none btn-large indigo', id: 'submit-btn' %>
  <% end %>
</div>

<script>
$(function() {
  $('input').change(function() { clearResults() })
  $('input').keyup(function() { clearResults() })

  $('.breed').autocomplete({
    data: <%= @breeds.to_json.html_safe %>,
  });

  $('.color').autocomplete({
    data: <%= @colors.to_json.html_safe %>,
  });

  $('.city').autocomplete({
    data: <%= @cities.to_json.html_safe %>,
  });

  $('.state').autocomplete({
    data: <%= @states.to_json.html_safe %>,
  });
})

function clearResults() {
  document.getElementById('search-results').classList.add('d-none');
  document.getElementById('submit-btn').classList.add('d-none');
}

function finished() {
  const status = document.getElementById('pet_status').value == 'found' ? 'lost' : 'found'
  const species = document.getElementById('pet_species_cat').checked ? 'cat' : 'dog'
  const sex = document.getElementById('pet_sex_female').checked ? 'female' : 'male'
  const breed = document.getElementById('pet_breed').value
  const color = document.getElementById('pet_color').value
  const city = document.getElementById('pet_city').value
  const state = document.getElementById('pet_state').value

  const myInit = {
    method: 'POST'
  }

  fetch(`/search?status=${status}&species=${species}&breed=${breed}&color=${color}&city=${city}&state=${state}`, myInit)
    .then(function(response) { return response.json() })
    .then(function(data) {
      if (data.length > 0) { appendSearchResults(data.slice(0,4)) }
      else { document.getElementById('submit-btn').click() }
  })
  event.preventDefault()
}

function appendSearchResults(data) {
  let searchResults = ''
  data.forEach(function(pet) {
    searchResults = searchResults.concat(`
      <div class="col s12 m3 pet-item">
        <div class="card white">
          <div class="card-content collection-item avatar">
            <img src="${pet.image}">
            <div class="pet-card__content">
              <span class="card-title">
                <a href="/pets/${pet.id}">
                  ${pet.name}
                </a>
              </span>
              <span class="pet-card__badge ${pet.species == 'dog' ? 'amber' : 'teal'}">
                ${pet.species == 'dog' ? 'Cachorro' : 'Gato'}
              </span>
              <span class="pet-card__badge ${pet.sex == 'male' ? 'light-blue accent-4' : 'pink accent-4'}">
                ${pet.sex == 'male' ? 'Macho' : 'Fêmea'}
              </span>
              <span class="pet-card__badge deep-purple lighten-1">
                ${pet.breed}
              </span><br />
              <b>${pet.city}</b>, ${pet.state}
            </div>
          </div>
        </div>
      </div>
    `)  
  })
  document.getElementById('pet-list').innerHTML = searchResults;
  document.getElementById('search-results').classList.remove('d-none');
  document.getElementById('submit-btn').classList.remove('d-none');
}
</script>
