<div id="pet-details">
  <div class="row"> 
    <div class="col m6 s12">
      <%= image_tag(@pet.image) %>
    </div>
    <div class="col m6 sm12">
      <h1 class="pet name">
        <%= @pet.name %>
      </h1>
      <% unless @pet.active? %>
      <span class="pet archive">
        Perfil arquivado
      </span>
      <% end %>
      <div class="pet infos">
        <div class="pet infos species <%= @pet.species %>">
          <%= @pet.species %>
        </div>
        <div class="pet infos sex <%= @pet.sex %>">
          <%= @pet.sex %>
        </div>
        <div class="pet infos status <%= @pet.status %>">
          <%= @pet.status %>
        </div>
      </div>
      <% if @pet.user == current_user %>
        <%= link_to 'editar', edit_pet_path(@pet), class: "waves-effect waves-light btn-small pet_btn" %>
      <% end %>
      <% if @pet.user == current_user && @pet.found? %>
        <%= link_to 'já encontrei o dono', pet_confirm_deactivation_path(@pet) , class: "waves-effect waves-light btn-small pet_btn"%><br>
      <% elsif @pet.user == current_user && @pet.lost? %>
        <%= link_to 'já encontrei meu pet', pet_confirm_deactivation_path(@pet) , class: "waves-effect waves-light btn-small pet_btn"%><br>
      <% elsif @pet.user != current_user && @pet.found? %>
        <%= link_to 'sou dono deste pet!', new_rescue_request_path(found_pet_id: @pet.id) , class: "waves-effect waves-light btn-small pet_btn"%><br>
      <% elsif @pet.user != current_user && @pet.lost? %>
        <%= link_to 'encontrei este pet!', new_rescue_request_path(lost_pet_id: @pet.id) , class: "waves-effect waves-light btn-small pet_btn"%><br>
      <% end %>

      <span class="pet owner">
        Posted by <%= @pet.user.name %>
      </span>

    </div>
  </div>
</div>