<p>
  <%= image_tag(@pet.image) %><br>
  <strong><%= @pet.name %></strong><br>
  <% unless @pet.active? %>
    Perfil arquivado
    <br>
  <% end %>
  <% if @pet.user == current_user %>
    <%= link_to 'editar', edit_pet_path(@pet) %><br>
  <% end %>
  <% if @pet.user == current_user && @pet.found? %>
    <%= link_to 'já encontrei o dono', pet_confirm_deactivation_path(@pet) %><br>
  <% elsif @pet.user == current_user && @pet.lost? %>
    <%= link_to 'já encontrei meu pet', pet_confirm_deactivation_path(@pet) %><br>
  <% elsif @pet.user != current_user && @pet.found? %>
    <%= link_to 'sou dono deste pet!', new_rescue_request_path(found_pet_id: @pet.id) %><br>
  <% end %>
  <%= @pet.species %>,
  <%= @pet.sex %>,
  <%= @pet.status %><br>
  Posted by <%= @pet.user.name %>
</p>
