<div class="pet-details">
  <div class="row">
    <div class="col m6 s12">
      <%= image_tag(url_for(@pet.image)) %>
    </div>
    <div class="col m6 s12">
      <h2><%= @pet.name %></h2>
      <p>Cadastrado por <strong><%= @pet.user.name %></strong></p>
      <% unless @pet.active? %>
        <div class="row">
          <span class="pet-details__badge red">
            Perfil arquivado
          </span>
        </div>
      <% end %>
      <div class="row">
        <span class="pet-details__badge <%= @pet.species == 'dog' ? 'amber' : 'teal' %>">
          <%= species(@pet.species) %>
        </span>
        <span class="pet-details__badge <%= @pet.sex == 'male' ? 'light-blue accent-4' : 'pink accent-4' %>">
          <%= sex(@pet.sex) %>
        </span>
        <span class="pet-details__badge red">
          <%= status(@pet.status) %>
        </span>
        <span class="pet-details__badge deep-purple lighten-1">
          <%= @pet.breed %>
        </span>
      </div>
      <div class="row right-align">
        <% if current_user&.admin? %>
          <%= link_to 'editar', edit_pet_path(@pet), class: "indigo lighten-1 btn-small" %>
          <%= link_to 'desativar', pet_confirm_deactivation_path(@pet) , class: "red btn-small"%>
        <% end %>
        <% if @pet.user == current_user && @pet.active? && !current_user&.admin? %>
          <%= link_to 'editar', edit_pet_path(@pet), class: "indigo lighten-1 btn-small" %>
          <% if @pet.found? %>
            <%= link_to 'já encontrei o dono', pet_confirm_deactivation_path(@pet) , class: "indigo darken-3 btn-small"%>
          <% else %>
            <%= link_to 'já encontrei meu pet', pet_confirm_deactivation_path(@pet) , class: "indigo darken-3 btn-small"%>
          <% end %>
          <%= link_to 'desativar', pet_confirm_deactivation_path(@pet) , class: "red btn-small"%>
        <% end %>
      </div>
      <h4>Localização</h4>
      <p>
        <%= @pet.city %>, <strong><%= @pet.state %></strong>
      </p>
      <h4>Detalhes</h4>
      <p>
        <strong>Cor:</strong> <%= @pet.color %>
      </p>
      <p>
        <%= @pet.details %>
      </p>

      <p class="pet-details__actions">
        <% if @pet.user != current_user && @pet.found? %>
          <%= link_to 'sou dono deste pet!', new_rescue_request_path(found_pet_id: @pet.id) , class: "btn-large indigo"%>
        <% elsif @pet.user != current_user && @pet.lost? %>
          <%= link_to 'encontrei este pet!', new_rescue_request_path(lost_pet_id: @pet.id) , class: "btn-large indigo"%>
        <% end %>
      </p>
    </div>
  </div>
</div>