<p>
    <strong><%= @pet.name %></strong><br>
    <%= link_to 'editar', edit_pet_path(@pet) %><br>
    <%= @pet.species %>,
    <%= @pet.sex %>,
    <%= @pet.status %><br>
    Posted by <%= @author.name %>
  </p>