<h2><%= current_user.name %></h2>
<caption>
  <%= current_user.email %> | <%= current_user.phone %>
</caption>
<h3>Pedidos de resgate</h3>
<h4>Respondidos</h4>
<% @replied_rescue_requests.each do |request| %>
  <% if request.created_by_owner? %>
    <div class="col s12 m4 request-item">
      <div class="collection card white">
        <div class="card-content collection-item avatar">
          <%= request.status %>, perdido
          <%= image_tag(request.found_pet.image, class: 'circle') if request.found_pet.image.attached? %>
          <span class="card-title pink-text text-accent-3"><%= link_to request.found_pet.name, request %></span>
          <p><i><%= request.rescuer.name %></i> respondeu:</p>
          <p><i><%= request.reply %></i></p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col s12 m4 request-item">
      <div class="collection card white">
        <div class="card-content collection-item avatar">
          <%= request.status %>, resgatado
          <%= image_tag(request.lost_pet.image, class: 'circle') if request.lost_pet.image.attached? %>
          <span class="card-title pink-text text-accent-3"><%= link_to request.lost_pet.name, request %></span>
          <p><i><%= request.owner.name %></i> respondeu:</p>
          <p><i><%= request.reply %></i></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<h4>Recebidos</h4>
<div class="row" id="pet-list">
<% @awaiting_rescue_requests.each do |request| %>
  <% if request.created_by_owner? %>
    <div class="col s12 m4 request-item">
      <div class="collection card white">
        <div class="card-content collection-item avatar">
          <%= request.status %>, perdido
          <%= image_tag(request.found_pet.image, class: 'circle') if request.found_pet.image.attached? %>
          <span class="card-title pink-text text-accent-3"><%= link_to request.found_pet.name, request %></span>
          <p>Enviado por <i><%= request.owner.name %></i></p>
          <p><i><%= request.message %></i></p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col s12 m4 request-item">
      <div class="collection card white">
        <div class="card-content collection-item avatar">
          <%= request.status %>, resgatado
          <%= image_tag(request.lost_pet.image, class: 'circle') if request.lost_pet.image.attached?  %>
          <span class="card-title pink-text text-accent-3"><%= link_to request.lost_pet.name, request %></span>
          <p>Enviado por <i><%= request.rescuer.name %></i></p>
          <p><i><%= request.message %></i></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>

<h4>Enviados</h4>
<div class="row" id="pet-list">
  <% @my_rescue_requests.each do |request| %>
    <% if request.created_by_owner? %>
      <div class="col s12 m4 request-item">
        <div class="collection card white">
          <div class="card-content collection-item avatar">
            <%= request.status %>, perdido
            <%= image_tag(request.found_pet.image, class: 'circle') if request.found_pet.image.attached? %>
            <span class="card-title pink-text text-accent-3"><%= link_to request.found_pet.name, request %></span>
            <p>Resgate feito por <i><%= request.found_pet.user.name %></i></p>
            <p><i><%= request.message %></i></p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col s12 m4 request-item">
        <div class="collection card white">
          <div class="card-content collection-item avatar">
            <%= request.status %>, resgatado
            <%= image_tag(request.lost_pet.image, class: 'circle') if request.lost_pet.image.attached? %>
            <span class="card-title pink-text text-accent-3"><%= link_to request.lost_pet.name, request %></span>
            <p>Pertence a <i><%= request.lost_pet.user.name %></i></p>
            <p><i><%= request.message %></i></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<h3>Anúncios cadastrados</h3>
<div class="row" id="pet-list">
  <% current_user.pets.each do |pet| %>
    <div class="col s12 m4 pet-item">
      <div class="collection card white">
        <div class="card-content collection-item avatar">
          <%= image_tag(pet.image, class: 'circle') if pet.image.attached? %>
          <span class="card-title pink-text text-accent-3"><%= link_to pet.name, pet %></span>
          <p><i><%= pet.species %></i>, <%= pet.sex %>, <%= pet.breed %></p>
          <p><b><%= pet.city %></b>, <%= pet.state %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>