<h2><%= current_user.name %></h2>
<caption>
  <strong>Email:</strong> <%= current_user.email %><br />
  <strong>Telefone:</strong> <%= current_user.phone %>
</caption>

<h3>Pedidos de resgate</h3>
<% if @replied_rescue_requests.empty? && @awaiting_rescue_requests.empty? && @my_rescue_requests.empty? %>
<p>Você não possui pedidos de resgate.</p>
<% end %>
<% unless @replied_rescue_requests.empty? %>
  <h4>Respondidos</h4>
  <div class="row">
    <% @replied_rescue_requests.each do |request| %>
      <% if request.created_by_owner? %>
        <div class="col s12 m4 l3">
          <div class="card small">
            <div class="card-image">
              <%= image_tag(request.found_pet.image) %>
            </div>
            <div class="card-content">
              <span class="card-title"><%= link_to request.found_pet.name, request %>, <%= request.status %></span>
              <p>
                <strong><%= request.rescuer.name %></strong> respondeu:<br />
                "<i><%= request.reply %></i>"
              </p>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col s12 m4 l3">
          <div class="card small">
            <div class="card-image">
              <%= image_tag(request.lost_pet.image) %>
            </div>
            <div class="card-content">
              <span class="card-title"><%= link_to request.lost_pet.name, request %>, <%= request.status %></span>
              <p>
                <strong><%= request.lost_pet.user.name %></strong> respondeu:<br />
                "<i><%= request.reply %></i>"
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<% unless @awaiting_rescue_requests.empty? %>
  <h4>Recebidos</h4>
  <div class="row">
  <% @awaiting_rescue_requests.each do |request| %>
    <% if request.created_by_owner? %>
      <div class="col s12 m4 l3">
        <div class="card small">
          <div class="card-image">
            <%= image_tag(request.found_pet.image) %>
          </div>
          <div class="card-content">
            <span class="card-title"><%= link_to request.found_pet.name, request %></span>
            <p>
              Enviado por <strong><%= request.found_pet.user.name %></strong>
            </p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="col s12 m4 l3">
        <div class="card small">
          <div class="card-image">
            <%= image_tag(request.lost_pet.image) %>
          </div>
          <div class="card-content">
            <span class="card-title"><%= link_to request.lost_pet.name, request %></span>
            <p>
              Enviado por <strong><%= request.lost_pet.user.name %></strong>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
<% end %>

<% unless @my_rescue_requests.empty? %>
  <h4>Enviados</h4>
  <div class="row">
    <% @my_rescue_requests.each do |request| %>
      <% if request.created_by_owner? %>
        <div class="col s12 m4 l3">
          <div class="card small">
            <div class="card-image">
              <%= image_tag(request.found_pet.image) %>
            </div>
            <div class="card-content">
              <span class="card-title"><%= link_to request.found_pet.name, request %></span>
              <p>
                <%= request.status %>, resgatado<br />
                Resgate feito por <i><%= request.found_pet.user.name %></i>
              </p>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col s12 m4 l3">
          <div class="card small">
            <div class="card-image">
              <%= image_tag(request.lost_pet.image) %>
            </div>
            <div class="card-content">
              <span class="card-title"><%= link_to request.lost_pet.name, request %></span>
              <p>
                <%= request.status %>, perdido<br />
                Pertence a <i><%= request.lost_pet.user.name %></i>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<h3>Anúncios cadastrados</h3>
<% if current_user.pets.count > 0 %>
  <div class="row">
    <% current_user.pets.each do |pet| %>
      <div class="col s12 m4 l3">
        <div class="card small">
          <div class="card-image">
            <%= image_tag(pet.image) %>
          </div>
          <div class="card-content">
            <span class="card-title"><%= link_to pet.name, pet %></span>
            <p><i><%= pet.species %></i>, <%= pet.sex %>, <%= pet.breed %></p>
            <p><b><%= pet.city %></b>, <%= pet.state %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="center-align">
    Você ainda não cadastrou nenhum pet.
  </p>
<% end %>
