<h2>Acredito que <%= @found_pet.name %> seja meu pet</h2>
<% if flash[:alert] %>
    <%= flash[:alert] %>
<% end %>
<%= form_for @rescue_request do |form| %>
  <%= form.hidden_field :found_pet_id, value: @found_pet.id %>
  <%= form.hidden_field :rescuer_id, value: @found_pet.user_id %>
  <%= form.hidden_field :owner_id, value: current_user.id %>
  <%= form.hidden_field :created_by_owner, value: true %>
  <%= form.hidden_field :status, value: 'open' %>

  <div class="input-field ">
    <select name="rescue_request[lost_pet_id]" id="rescue_request_lost_pet_id"  class="icons">
      <option value="" disabled selected>Clique para selecionar</option>
      <% @my_pets.each do |pet| %>
        <option value="<%= pet.id %>" data-icon="<%= pet.image %>"><%= pet.name %></option>
      <% end %>
    </select>
    <label>Já cadastrou seu pet na plataforma?</label>
  </div>

  <p>
    <%= form.label :image, 'Foto'%>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.label :message, "Escreva uma mensagem para #{@found_pet.user.name}" %><br>
    <%= form.text_area :message %>
  </p>

  <%= form.submit 'Enviar' %>
<% end %>
