<p>
  Escreva uma mensagem para <%= @lost_pet.user.name %>, dono(a) de <%= link_to @lost_pet.name, @lost_pet %> e diga que gostaria de devolvê-lo.
</p>
<% if flash[:alert] %>
    <%= flash[:alert] %>
<% end %>
<%= form_for @rescue_request do |form| %>
  <%= form.hidden_field :lost_pet_id, value: @lost_pet.id %>
  <%= form.hidden_field :owner_id, value: @lost_pet.user_id %>
  <%= form.hidden_field :rescuer_id, value: current_user.id %>
  <%= form.hidden_field :created_by_owner, value: false %>
  <%= form.hidden_field :status, value: 'open' %>

  <div class="input-field ">
    <select name="rescue_request[found_pet_id]" id="rescue_request_found_pet_id"  class="icons">
      <option value="" disabled selected>Clique para selecionar</option>
      <% @my_pets.each do |pet| %>
        <option value="<%= pet.id %>" data-icon="<%= url_for(pet.image) %>"><%= pet.name %></option>
      <% end %>
    </select>
    <label>Já criou um anúncio para <%= @lost_pet.name %>?</label>
  </div>

  <div class="file-field input-field">
    <p>Você pode anexar uma foto do pet que resgatou, para auxiliar na identificação:</p>
    <div class="btn indigo lighten-1">
      <i class="large material-icons">add_a_photo</i>
      <%= form.file_field :image %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

  <p>Escreva abaixo o máximo de informações sobre o pet resgatado! Procure incluir descrição física, data e local em que foi encontrado.</p>
  <div class="input-field">
    <%= form.text_area :message, class: 'materialize-textarea' %>
    <label for="message">Corpo da mensagem</label>
  </div>

  <p><%= @lost_pet.user.name %> será capaz de visualizar seu número de telefone.</p>

  <div class="center-align">
    <%= form.submit 'Enviar', class: 'red lighten-1 btn-large' %>
  </div>
<% end %>
