<h2>Pedido de contato com o dono de <%= @rescue_request.lost_pet.name %></h2>
<% if @rescue_request.found_pet_id.present? %>
  Pet resgatado:
  <%= link_to image_tag(@rescue_request.found_pet.image), @rescue_request.found_pet %>
  <p>
    <%= @rescue_request.found_pet.species %>, <%= @rescue_request.found_pet.sex %>, <%= @rescue_request.found_pet.breed %>
  </p>

  <p>
    <%= @rescue_request.found_pet.city %>, <%= @rescue_request.found_pet.state %>
  </p>
<% end %>

<h3>Destinatário do pedido</h3>
<p><%= @rescue_request.owner.name %></p>
<p>Anúncio: 
  <%= link_to image_tag(@rescue_request.lost_pet.image), @rescue_request.lost_pet %>
  <%= link_to @rescue_request.lost_pet.name, @rescue_request.lost_pet %>
</p>

<hr>
<h2>Mensagem</h2>
<p>
  <%= @rescue_request.message %>
  <%= image_tag(@rescue_request.image || '') %>
</p>
<p>
  Enviado por <%= @rescue_request.rescuer.name %>, <%= @rescue_request.owner.phone %>
</p>
