<% if @rescue_request.accepted? %>
  <span class="green badge">Aceito</span>
<% elsif @rescue_request.open? %>
  <span class="amber badge">Aberto</span>
<% elsif @rescue_request.cancelled? %>
  <span class="red badge">Cancelado</span>
<% else %>
  <span class="red badge">Recusado</span>
<% end %>

<%= render "header_#{@view_options[:access_type]}" %>

<caption><%= @rescue_request.created_at %></caption>

<section class="row">
  <div class="col s12 l3">
    <h4>Resgatante</h4>
    <p>
      <strong><%= @rescue_request.rescuer.name %></strong>
      <% if @view_options[:show_rescuer_phone] %>
        <br />
        <%= @rescue_request.rescuer.phone %>
      <% end %>
    </p>
    <hr>
    <h4>Dono(a) do animal</h4>
    <p>
      <strong><%= @rescue_request.owner.name %></strong>
      <% if @view_options[:show_owner_phone] %>
        <br />
        <%= @rescue_request.owner.phone %>
      <% end %>
    </p>
    <hr>
      <h4>Pet <%= @view_options[:target_pet].status == 'found' ? 'procurando dono' : 'perdido' %></h4>
      <div class="card">
        <div class="card-content collection-item avatar">
          <%= image_tag(@view_options[:target_pet].image) %>
          <div class="pet-card__content">
            <span class="card-title"><%= link_to @view_options[:target_pet].name, @view_options[:target_pet] %></span>
            <span class="pet-card__badge <%= @view_options[:target_pet].species == 'dog' ? 'amber' : 'teal' %>">
              <%= species(@view_options[:target_pet].species) %>
            </span>
            <span class="pet-card__badge <%= @view_options[:target_pet].sex == 'male' ? 'light-blue accent-4' : 'pink accent-4' %>">
              <%= sex(@view_options[:target_pet].sex) %>
            </span>
            <span class="pet-card__badge deep-purple lighten-1">
              <%= @view_options[:target_pet].breed %>
            </span><br />
            <span class="city"><%= @view_options[:target_pet].city %></span><br />
            <%= @view_options[:target_pet].state %>
          </div>
        </div>
      </div>
    <% if @view_options[:secondary_pet].present? %>
      <h4>Pet <%= @view_options[:secondary_pet].status == 'found' ? 'procurando dono' : 'perdido' %></h4>
      <div class="card">
        <div class="card-content collection-item avatar">
          <%= image_tag(@view_options[:secondary_pet].image) %>
          <div class="pet-card__content">
            <span class="card-title"><%= link_to @view_options[:secondary_pet].name, @view_options[:secondary_pet] %></span>
            <span class="pet-card__badge <%= @view_options[:secondary_pet].species == 'dog' ? 'amber' : 'teal' %>">
              <%= species(@view_options[:secondary_pet].species) %>
            </span>
            <span class="pet-card__badge <%= @view_options[:secondary_pet].sex == 'male' ? 'light-blue accent-4' : 'pink accent-4' %>">
              <%= sex(@view_options[:secondary_pet].sex) %>
            </span>
            <span class="pet-card__badge deep-purple lighten-1">
              <%= @view_options[:secondary_pet].breed %>
            </span><br />
            <span class="city"><%= @view_options[:secondary_pet].city %></span><br />
            <%= @view_options[:secondary_pet].state %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col s12 l9">
    <% if @rescue_request.reply.present? %>
      <h3>Resposta</h3>
      <div class="rescue-request_message-item">
        <p>
          <%= @rescue_request.reply %>
        </p>
      </div>
      <p class="right-align">
        Respondido por <strong><%= @rescue_request.created_by_owner? ? @rescue_request.rescuer.name : @rescue_request.owner.name %></strong>, <%= @rescue_request.updated_at %>
      </p>
      <hr />
    <% end %>

    <h3>Mensagem</h3>
    <div class="rescue-request_message-item">
      <p>
        <%= @rescue_request.message %>
      </p>
      <%= image_tag(@rescue_request.image) if @rescue_request.image.attached? %>
    </div>
    <p class="right-align">
      Enviado por <strong><%= @rescue_request.created_by_owner? ? @rescue_request.owner.name : @rescue_request.rescuer.name %></strong>, <%= @rescue_request.created_at %>
    </p>
    <% if @view_options[:access_type] == 'as_receiver' && @rescue_request.open? %>
      <p class="right-align">
        <%= link_to 'Responder', rescue_request_answer_path(@rescue_request) , class: "btn-large indigo"%>
      </p>
    <% end %>
  </div>
</section>
