<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @attendance.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @attendance.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @attendance.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @attendance.end_date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @customer %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @employee %>
</p>

<p>
  <strong>Service:</strong>
  <%= @service %>
</p>

<%= link_to 'Alterar', edit_attendance_path(@attendance) %> |
<%= link_to 'Voltar', attendances_path %>
