<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Barbearia Luz do Mundo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav id="header" class="lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <%= link_to 'Barbearia Luz do Mundo', root_path, class: 'brand-logo' %>
        <ul class="right hide-on-med-and-down">
          <li>Olá, <%= current_user&.name || 'Visitante' %>!</li>
          <% if !user_signed_in? %>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% else  %>
            <li><%# link_to 'Criar novo login', new_user_registration_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <% if !user_signed_in? %>
            <li><%= link_to 'Página inicial', root_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% else  %>
            <li><%= link_to 'Página inicial', root_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <main class="container container-app">
      <div class="section">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
