<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PetFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav id="header" class="lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <%= link_to 'PetFinder', root_path, class: 'brand-logo' %>
        <ul class="right hide-on-med-and-down">
          <li>Olá, <%= current_user&.name || 'Visitante' %>!</li>
          <% if !user_signed_in? %>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% else  %>
            <li><%= link_to 'Meus pets', dashboard_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <% if !user_signed_in? %>
            <li><%= link_to 'Página inicial', root_path %></li>
            <li><%= link_to 'Busca por pet', search_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% else  %>
            <li><%= link_to 'Página inicial', root_path %></li>
            <li><%= link_to 'Busca por pet', search_path %></li>
            <li><%= link_to 'Meus pets', dashboard_path %></li>
            <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div class="container container-app">
      <div class="section">
        <%= yield %>
      </div>
      <br><br>
    </div>
  
    <footer id="footer" class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Sobre este site</h5>
            <p class="grey-text text-lighten-4">
              Este site trata-se de um projeto realizado pelo grupo ConnectPlus para a disciplina Oficina de Projeto de Empresa 2, ofertada pela Faculdade Impacta de Tecnologia.
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
  </body>
</html>
