<!DOCTYPE html>
<html>
  <head>
    <title>PetFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p align="center">
      <%= current_user&.name || 'Visitante' %> |
      <%= link_to 'Login', new_user_session_path %> |
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    </p>

    <p align="center">
      <%= link_to 'New pet', new_pet_path %>
    </p>

    <%= yield %>
  </body>
</html>
